.modal-course-cat {
  margin-left:5px;
}

.view-course-details, .view-feedback-analysis, .view-runs {
  cursor: pointer;
}

.recommendation-title {
  font-weight:inherit;
}

.reject-reason-label {
  margin-left: 10px;
}