.modal-course-cat {
  margin-left:5px;
}

.view-course-details, .view-feedback-analysis, .view-runs, .apply-feedback-template, .view-lessons, .view-registrations {
  cursor: pointer;
}

.recommendation-title {
  font-weight:inherit;
}

.reject-reason-label {
  margin-left: 10px;
}

table th a, table th, table td {
  padding: 25px !important;
  vertical-align: middle;
  text-align: center;
}