.full-screen-container {
  font-family: "Segoe UI", "Roboto", "sans-serif", Arial, "Helvetica";
  font-size: 18px;
  background-color: #F7F7F7;
  min-width: 100vw;
  min-height: 100vh;
  /* margin:40px; */
}

.navbar {
  padding: 30px !important;
}


body {
  overflow-x: hidden;
}

/* ------------------------------ FORMS ---------------------------------- */
.submitbtn {
  background-color: #151c55;
  color: #FFFFFF;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border-radius: 10px;
}

.submitbtn:hover {
  background-color: #151c55;
  color: #FFFFFF;
}

.field {
  border-radius: 10px;
  height: 50px;
  font-size: 18px;
}

/* --------------------------- BUTTONS ----------------------------------- */
.btn {
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.btn-success, .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success:focus-visible {
  background-color: #007E94 !important;
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:focus, .btn-primary, .btn-primary:hover, .btn-primary:focus {
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.btn-deactivate {
  background-color: #eb0913 !important;
}

.btn-activate {
  background-color: #11a633 !important;
}

.btn-info, .btn-info:hover, .btn-info:focus, .btn-info:focus, .btn-info:active{
  background-color: teal;
  border-color: teal;
}

.btn:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

/* --------------------------- MODAL ----------------------------------- */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* --------------------------- TEXT ----------------------------------- */

.text-grey {
  color: grey
}

.two-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  white-space: normal;
}

.font-weight-bold {
  font-weight: 500;
}

.bg-light-blue {
  background-color: #007E94 !important;
}

.bg-light-grey {
  background-color: lightgray;
}

.btn-blue-green {
  background-color: #009490 !important;
}

.btn-edit {
  background-color: #151c55 !important;
  color: #FFFFFF !important;
}

.btn-warning {
  background-color: #DAA520 !important;
  border: #DAA520;
}

.nav-link:hover {
  cursor: pointer;
}

.nav-pills, .nav-pills, .show>.nav-link, .nav-link {
  color: #151C55 !important;
}

.nav-pills>.nav-item>.nav-link.active {
  color: white !important;
  background-color: steelblue !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
}

.nav-pills>.nav-item>.nav-link.hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
}

.nav-pills>.nav-item {
  background-color: white !important;
}

.nav-pills {
  --bs-nav-pills-link-active-bg: white;
  color: #151C55;
  font-weight: 700;
}

body {
  background-color: #F8F8F8;
}

.bg-tomato {
  background-color: tomato;
}

.bg-medium-sea-green {
  background-color: mediumseagreen;
}

.bg-blue {
  background-color: steelblue;
}

.bg-crimson {
  background-color: crimson;
}

.bg-dark-grey {
  background-color: darkgrey;
}

.bg-rebacca-purple {
  background-color: rebeccapurple;
}

button:disabled, .btn.disabled {
  display: block;
  pointer-events: auto !important;
}

.text-grey-important {
  color: grey !important;
}

.action-buttons {
  display: flex;
  flex-wrap: nowrap;
  gap:8px;
}

.bg-light-blue {
  background-color: #0dcaf0 !important;
}

table th a, table th, table td {
  padding: 25px !important;
  vertical-align: middle;
  text-align: center;
}

th {
  color: grey !important;
}


[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}

[data-title]:after {
  content: attr(data-title);
  background-color: rgba(70, 130, 180, 0.7);
  color: white;
  font-size: 110%;
  position: absolute;
  padding: 1px 5px 2px 5px;
  bottom: -2em;
  left: -50%;
  white-space: nowrap;
  box-shadow: 1px 1px 3px #222222;
  opacity: 0;
  border: 1px solid #111111;
  z-index: 99999;
  visibility: hidden;
}

[data-title] {
  position: relative;
}

@media (max-width: 700px) {
  .navbar-toggler {
    display: block;
  }
}