.full-screen-container {
  font-family: "Segoe UI", "Roboto", "sans-serif", Arial, "Helvetica";
  font-size: 18px;
  background-color: #F8F8F8;
  min-width: 100vw;
  min-height: 100vh;
  /* margin:40px; */
}

.navbar {
  padding: 30px !important;
}


body {
  overflow-x: hidden;
}

/* ------------------------------ FORMS ---------------------------------- */
.submitbtn {
  background-color: #151c55;
  color: #FFFFFF;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border-radius: 10px;
}

.submitbtn:hover {
  background-color: #151c55;
  color: #FFFFFF;
}

.field {
  border-radius: 10px;
  height: 50px;
  font-size: 18px;
}

/* --------------------------- BUTTONS ----------------------------------- */
.btn {
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.btn-success, .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success:focus-visible {
  background-color: #007E94 !important;
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:focus, .btn-primary, .btn-primary:hover, .btn-primary:focus {
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.btn-deactivate {
  background-color: #eb0913 !important;
}

.btn-activate {
  background-color: #11a633 !important;
}

/* --------------------------- MODAL ----------------------------------- */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* --------------------------- TEXT ----------------------------------- */

.text-grey {
  color: grey
}

.two-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  white-space: normal;
}

.font-weight-bold {
  font-weight: 500;
}

.bg-light-blue {
  background-color: #007E94 !important;
}

.btn-blue-green {
  background-color: #009490 !important;
}

.btn-edit {
  background-color: #151c55 !important;
  color: #FFFFFF !important;
}

.btn-warning {
  background-color: #DAA520 !important;
  border: #DAA520;
}

.nav-link:hover {
  cursor: pointer;
}

.nav-pills, .nav-link.active, .nav-pills, .show>.nav-link, .nav-link {
  color: #151C55 !important;
}

.nav-pills {
  --bs-nav-pills-link-active-bg: white;
  color: #151C55;
  font-weight: 700;
}